body{
	margin: 0;
}

	@media all and(max-width: 500px){
	.nav-ul{
		display: none;
	}
}
.lightbox-outer{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0; /*Start at the left most position*/ 
	top: 0; /*Start at the top most position*/
	background-color: rgba(0,0,0,.7);
	display: none;
}

.lightbox-inner{
	text-align: center;
}

h2{
	color: red;
	text-align: center;
}

img{

	width:300px;
}

.nav-bar{
	background-color: black;
	width: 100%; 
	position: fixed;
	padding: 20px 0;
}

ul{
	margin: 0;
	padding: 0;
	text-align: center;
}

/*

*/ 

li{
	list-style-type: none;
	display: inline-block;
	text-align: center;
	margin: 0px 15px;
	position: relative;
}
.modules{
	text-align: center;
}

a{
	text-decoration: none;
	color: white;
}

a.the-zebra, a.lightbox-link{
	text-decoration: none;
	color: red;
}

.dropdown{
	position: absolute;
	left: -12px;
	text-align: center;
	padding-bottom: 10px;
	background-color: black;
}
 
.dropdown li{
	display: none;
}

li:hover .dropdown li{
	display: block;
}